[submodule "other_src/asi-http-request"]
	path = other_src/asi-http-request
	url = git://github.com/undees/asi-http-request
[submodule "other_src/cocoahttpserver"]
	path = other_src/cocoahttpserver
	url = git://github.com/undees/cocoahttpserver
[submodule "other_src/justplayed"]
	path = other_src/justplayed
	url = http://github.com/textarcana/justplayed.git
